.footer {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.reseaux {
    display: flex;

    border-right: solid;
    border-right-color: white;
}

.reseaux a {
    text-decoration: none;
}