.connexionPage-container {
    background-image:  url('../../assets/bg2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #F5E7FF;
    background-position: bottom left;
}