
.createMission {
    display: flex;
    justify-content: center;
}
.main-card-mission {
    display:flex;
    flex-direction: column;
    font-family: "Poppins";
    padding: 2vw;
    border: none;
    border-radius: 2vw;
    background-color: white;
    width: 40%;
    box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.18);
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.button-createMission {
display: flex;
justify-content: center;
margin-top: 4vw;
}
.button-createMission button {
    background-color:#FFD600;
    font-weight: bolder;
    border-radius: 1em;
    padding: 0.2em 1em;
    border: none;
    font-size: 1.2vw;
    cursor: pointer;
}
.titre-mission {
    display: flex;
    justify-content: center;
}
.main-card-mission h2 {
    font-size: 2vw;
    font-weight: bolder;
    }
     
.main-card-mission h3 {
        font-size: 1vw;
    }
.main-card-mission p {
        font-size: 1vw;
    }
.champs p {
    font-family: "Poppins";
    font-size: 1vw;
    font-weight: bold;
}
.champs input {
    padding-left: 1vw;
    
}

.champs #objet {
    border-radius: 2vw;
    border: none;
    background-color: #9F9F9F ;
    opacity: 30%;
    width: 25vw;
    height: 10vw;
}
.champs #lieu {
    border-radius: 2vw;
    border: none;
    background-color: #9F9F9F ;
    opacity: 30%;
    width: 5vw;
    height: 1.5vw;
}
.champs #debut {
    border-radius: 2vw;
    border: none;
    background-color: #9F9F9F ;
    opacity: 30%;
    width: 7vw;
    height: 1.5vw;
}
.champs #nom {
    border-radius: 2vw;
    border: none;
    background-color: #9F9F9F ;
    opacity: 30%;
    width: 25vw;
    height: 1.5vw;
}
.champs #duree {
    border-radius: 2vw;
    border: none;
    background-color: #9F9F9F ;
    opacity: 30%;
    width: 10vw;
    height: 1.5vw;
}

.champs span {
    color: red;
}
.champs input::placeholder {
    color: #000000;
    opacity: 90%;
}