.missions-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacter{
    display: flex;
    justify-content: center;
  
}
.contacter button {
    background-color:#FFD600;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.2em 1em;
    border: none;
    font-size: 1em;
    
}

.cardd-talents {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Poppins";
    height: 10vw;
    overflow: hidden;
    cursor: pointer;
}
.image-petitFormat {
 
    height: auto;
    width: 12vw;/* Utilisation de vw (viewport width) pour la largeur */
    margin-right: 2vw;
    margin-left: 0.5vw;
}
.image-petitFormat img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 1vw;
}
.infos{
    width: 70%;
    font-size: 1vw;
    word-wrap: break-word;
}

.infos p {
    margin: 5px;
}
.coeur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


