
.bodyMissionPage{
    display: flex;
    justify-content: center;
}


.main-container {
    display:flex;
    flex-direction: column;
    font-family: "Poppins";
    padding: 2vw;
    border: none;
    border-radius: 2vw;
    background-color: white;
    width: 50%;
    box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.18);
    margin-top: 10vw;
    margin-bottom: 10vw;
}
.main-container h2 {
font-size: 2vw;
font-weight: bolder;
}
.main-container h3 {
    font-size: 1.5vw;
}
.main-container p {
    font-size: 1vw;
}
.image-grosFormat {
    display: flex;
    align-items: center;
    height: 20vw;
    width: 100%;/* Utilisation de vw (viewport width) pour la largeur */

}
.image-grosFormat img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}
.titreLike {
display: flex;
flex-direction: row;
}

.datePubli {
    opacity: 70%;
}

.infos1 {
    display: flex;
    flex-direction: row;
}
.besoin {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}
.lieu {
    display: flex;
    flex-direction: column;
}
.infos2 {
    display: flex;
    flex-direction: column;
}
.infos3 {
    display: flex;
    flex-direction: column;
}

.button-grosseAnnonce{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}
.button-grosseAnnonce button {
    background-color:#FFD600;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.3em 1em;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    
}

.messagePreventif {
    display: flex;
    justify-content: center;
}