.headerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button-menu {
    border-radius: 1vw;
    font-family: 'Poppins';
    border: none;
    box-shadow: -2px 4px 10px 0px rgba(0,0,0,0.18);
    background-color:white;
    color: #7209B7;
    font-weight: bold;
    border-radius: 1em;
    padding: 0.2em 1em;
    border: none;
    font-size: 1em;
}
.icon {
    
        margin-left:0.5vw; /* Ajoute un espace de 5 pixels à droite de l'icône */
      
}
.iconsLink{
font-size: 1.5vw;
    color: white;
}
.logo-menu img {
    width: 10vw;
  /* height: 100px; */
  object-fit: contain;
    margin-right: 10px;
}
.header-menu {
    display: flex;
    flex-direction: row;
}
ul.header-menu {
    list-style: none;
}
ul.header-menu li {
    margin-right: 10px; /* Ajustez la valeur selon vos préférences */
}
ul.header-menu li:last-child {
    margin-right: 0;
}
.menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Poppins";
}