.headerMain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.logo-menu img {
    width: 5rem;
  /* height: 100px; */
  object-fit: contain;
    margin-right: 10px;
}
.header-menu {
    display: flex;
    flex-direction: row;
}
ul.header-menu {
    list-style: none;
}
ul.header-menu li {
    margin-right: 10px; /* Ajustez la valeur selon vos préférences */
}
ul.header-menu li:last-child {
    margin-right: 0;
}
.menu-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}